<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyw.cateringsystem.repository.TableInfoMapper">

    <sql id="Base_Column_List">
        id, table_number, table_status, capacity
    </sql>

    <select id="selectById" resultType="com.nyw.cateringsystem.bean.TableInfo">
        select
        <include refid="Base_Column_List" />
        from t_table_info
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.nyw.cateringsystem.bean.TableInfo">
        select * from t_table_info
    </select>

    <select id="selectByTableNum" resultType="com.nyw.cateringsystem.bean.TableInfo">
        select
        <include refid="Base_Column_List" />
        from t_table_info
        where table_number like "%"#{tableNumber}"%"
    </select>

    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from t_table_info
        where id in 
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nyw.cateringsystem.bean.TableInfo" useGeneratedKeys="true">
        insert into t_table_info (table_number, table_status, capacity)
        values (#{tableNumber}, #{tableStatus}, #{capacity})
    </insert>

    <update id="updateByID" parameterType="com.nyw.cateringsystem.bean.TableInfo">
        update t_table_info
        <set>
          <if test="tableNumber != null and tableNumber != ''">
            table_number = #{tableNumber},
          </if>
          <if test="tableStatus != null and tableStatus != ''">
            table_status = #{tableStatus},
          </if>
          <if test="capacity != null and capacity != ''">
            capacity = #{capacity},
          </if>
        </set>
        where id = #{id}
    </update>

</mapper>